/*
Common css for all the pages 
*/
.fieldError{
	color:red;
}

.margin-left-nav{
	margin-left:19%;	
}

.margin-left-footer{
	margin-left:19%;	
}
.font-color-white{
	color:white;
}
.footer-ul{
	list-style-type:none;
}

.body-color{background-color:#C0C0C0}

.top-margin{
	margin-top:20px;
}

.header-li-margin{
	margin-left:30px;
	margin-right:20px;
}

.img-default{
margin: 0px;
	padding: 0px;
}